/*
wood brown: A89F68;
army green: 41521F;
*/
.primera-parte{
   background-image: url(../img/portada.jpg);
   background-size: cover;

}
.save-titulo{
	color: white;
	font-size: 20px;
	text-decoration: none;
	text-align: left;
	margin-left: 100px;
	text-shadow: 5px 5px 5px black;
}
.a-partedeMenu{
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    text-shadow: 5px 5px 5px black;
}
.contenedor-primeraparte{
	margin-top: 250px;
	height: 400px;
}

.h1-primeraparte{
	color: white;
	font-size: 40px;

}
.p-primeraparte{
	color: white;
	width: 360px;
	margin-top: 30px;
	margin-right: 200px;
}
.boton-primeraparte{
	border-radius: 3px;
	background-color: #41521F;
	color: white;
	margin-right: 300px;
	border-style: none;
	font-size: 20px;
	padding: 10px;
}
/*SEGUNDA PARTE */
.koalitas-segundaparte{
	margin-left: 100px;
	margin-top: 30px;
	padding-bottom: 200px;
}
.foundation{
	margin-top: 200px;
}
.p-segundaparte{
	color: #77777f;
}
.h-segundaparte{
	color: #A89F68;
}
/*TERCERA PARTE */
.tercera-parte{
	background-color: #A89F68;
}
.contenedor-terceraparte{
	margin-left: 100px;
	padding-bottom: 200px;
}
.imagen-terceraparte{
	border:10px solid white;
	margin-top: 100px;
	padding: 0;

}
.primer-p-terceraparte{
	margin-top: 100px;
}
.p-terceraparte{
	color: white;
}
.h3-terceraparte{
	font-size: 30px;
	color: #41521F;
}
.boton-terceraparte{
	background-color: #41521F;
	color: white;
	padding: 10px;
	border-style: none;
	border-radius: 5px;
}
/* CUARTA PARTE*/
.contenedor-cuartaparte{
	background-image: url(../img/all.jpg);
	height: 850px;
	background-position: center;
}
.contenido-cuartaparte{
	color: white;
	margin-top: 60px;
	text-shadow: 5px 5px 5px black;
}
/* QUINTA PARTE */
.contenedor-quintaparte{
	background-color:white;
	height: 440px; 
	text-align: center;
}
.fa{
	color: #A89F68;
	font-size: 80px;
	padding-bottom: 10px;
}
.h1-quintaparte{
	color: #A89F68;
	margin-top: 100px;
	margin-bottom: 50px;
}
.p-quintaparte{
	color: #77777f;
}
/* SECTA PARTE*/
.secta-parte{
	background-color: #A89F68;
	height: 700px;
	text-align: center;
}
.primer-personal{
	margin-left: 150px;
}
.personal{
	color: white;
}
.personal h2{
	color: black;
}
.h1-personal{
	font-size: 100px;
}
.p-colorsuave{
	color: #333333;
}
.p-colorfuerte{
	color: #333333;
	font-weight: bold;
}
.span-personal{
	position: relative;
	top: 90px;
	right: 70px;
	font-size: 20px;
}
.h1-personal{
	position: relative;
	top: 30px;
}
.h5-personal{
	position: relative;
	bottom: 15px;
	left: 80px;
	font-size: 20px;
	font-weight: bold;
}
.grupo-h2{
	font-size: 17px;
	position: relative;
	top: 50px;
	font-weight: bold;
}
.primer-h2-sectaparte{
	color: #41521F;
	margin-top: 60px;
}
.boton-sectaparte{
	color: white;
	padding: 10px;
	background-color: #41521F;
	border-radius: 5px;
	font-size: 20px;
	border-style: none;
}

/* SEPTIMA PARTE */

.septima-parte{
	background-color: #41521F;
	height: 400px;
}